{% load static %}
<!doctype html>
<html lang="ko">


{% include 'Bus project//head.html' %}

 <!-- DEFAULT CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


  <body>
{#  검색 창 header #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="padding-right: 800px">
        <a class="navbar-brand" href="#"></a><img src="https://i.ibb.co/VgymkTx/logo.png" alt="logo" border="0"
                                                 style="width: 250px;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="{{ query }}" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">submit</button>
                </form>
            </div>
    </div>
</nav>
{#    웹페이지 설명#}
{% for feed in feeds1 %}
    <div style="position : relative;">

        {% if feed.conv == 'g' %}
            <div class="green_box"></div>
        {% elif feed.conv == 'y' %}
            <div class="yellow_box"></div>
        {% else %}
            <div class="red_box"></div>
        {% endif %}

        <section class="article-detail table-common con ">
            <table class="cell">
                <tbody>

                <tr class="article-title">
                    <td colspan="3">{{ feed.name }}</td>
                </tr>

                <tr class="article-body">
                    <td colspan="4">{{ feed.explain }}</td>
                    <td colspan="4">{{ feed.detail }}</td>
                </tr>

                </tbody>
            </table>
        </section>
    </div>

{% endfor %}

<h1>저상버스로 가는 길찾기</h1>
{#API넣어둘 창은 왼쪽 / 댓글창은 오른쪽#}

{% for feed in feeds1 %}
    <div style="display: flex; flex-direction: row; text-align: center;">

        <div class="flex-container" style="width: 300px; height: 600px;">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="출발지" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">submit</button>
            </form>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder= "{{ feed.address }}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">submit</button>
            </form>
        </div>
        <div style="width: 1200px; height: 600px; background: gold">API넣기</div>
        <div style="width: 430px; height: 600px; border: solid 1px black;">댓글창 만들기 + 로고 넣기</div>
    </div>
{% endfor %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>