{% load static %}
<!doctype html>
<html lang="ko">


{% include 'Bus project/head.html' %}

 <!-- DEFAULT CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">



<body>
안녕
  <div class="container-fluid" style="justify-content: space-between">
      <a><img src="https://i.ibb.co/VgymkTx/logo.png" alt="logo" border="0" style="width: 250px;"></a>
  </div>
  <div style="text-align: center;">
      <p style="font-size: 50px;">어디로 떠날까요?</p>
{#      검색창#}
      <div class="search-bar" style="border: 30px;">

          <form method="get" action="{% url 'searchResult' %}">
              {% csrf_token %}
              <i class="fas fa-search"></i>
              <input class="search-bar__input" type="search"
                     style="width: 30%; height: 40px; border-radius: 20px; padding-inline-start: 20px;" placeholder="검색"
                     name="kw">
          </form>
      </div>

  </div>
{#  텍스트#}
  <div>

  </div>

  <div  style=" padding-right: 83px; display: flex; justify-content: space-between; padding-left: 83px;">
      <div ><h1><p class="regular" style="font-size : 30px;">추천하는 장소</p></h1></div>
      <div><button class="w-btn w-btn-green2" type="button">필터</button></div>
  </div>
{#  #}

  <div class="container-fluid" style="display: inline-flex; justify-content: space-evenly; flex-wrap: wrap;">
      {% for feed in feeds %}
          <div style="position: relative; width: 550px; height: 550px; padding: 1px 1px 2px 3px;  ">
              <div class="star"><span class="material-symbols-outlined" style="font-size: 50px;">star</span></div>
              <div class="place">

                  <form method="get" action="{% url 'searchResult' %}">
                      {% csrf_token %}

                      <img src="{{ feed.image }}" width="530px" height="515px" class="rec_pic">

                  </form>

              </div>



              {% if feed.conv == 'g' %}
                  <div class="green_box"></div>
              {% elif feed.conv == 'y' %}
                  <div class="yellow_box"></div>
              {% else %}
                  <div class="red_box"></div>
              {% endif %}

          {# a태그로 해결#}
              <div class="text_box">
                  <form method="get" action="{% url 'searchResult' %}">
                      {% csrf_token %}
                      <k>{{ feed.name }}</k>
                      {# <button type="button" class="btn btn-light" style="background-color: white" name="kw"> {{ feed.name }}</button> #}
                        {# 나는 포트 번호가 8001이라서 이렇게 했는데 다른사람들 자기 포트번호대로 바꿔주면 됨니다#}
                      <a href="http://127.0.0.1:8001/search/?csrfmiddlewaretoken=7lmcmMjgegwasER2cbpmC5a9R3K66Ir88585PAsa7CjLaX6rMywp0SzLb6OmWWAp&kw={{ feed.name }}" style="text-decoration: none ; color: rgba(127,211,199) ; font-family: 'Comic Sans MS' " >   Let's go</a>

                  </form>
              </div>



          </div>
      {% endfor %}


      <script>
          //검색어 누르고 엔터키
          $(document).ready(function () {

              $(".search-bar__input").keydown(function (key) {
                  if (key.keyCode == 13) {


                      location.href = '{% url 'searchResult' %}'


                  }
              });
          });


          $('.text_box').on('click', () => {

              location.href = '{% url 'searchResult' %}'

          });


      </script>

  </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>