/*textarea{*/
/*     width:100%;*/
/*}*/

/*input[type=submit]{*/
/*     margin-top:10px;*/
/*}*/

p {
 font-family: 'Noto Serif KR', serif;
}

r {
  font-family: 'Nanum Brush Script', cursive;
}

.star {
    position:absolute;
    right:10px;
}

.green_box {
    position:absolute;
    left : 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(169,209,142);
    border-radius: 50%;
}

.yellow_box {
    position:absolute;
    left : 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(255,217,102);
    border-radius: 50%;
}

.red_box {
    position:absolute;
    left : 10px;
    width: 30px;
    height: 30px;
    background-color: darkred;
    border-radius: 50%;
}
.text_box {
    position:absolute;
    left : 50px;
    font-size : 20px;
}
.rec_pic {
    border-radius: 20%;
}
k {
    font-family: 'Nanum Gothic Coding', monospace;
}

.container {
	flex-direction: row;
	/* flex-direction: column; */
	/* flex-direction: row-reverse; */
	/* flex-direction: column-reverse; */
}