
/* 커스텀 */
/* 반응형 레이아웃 */
.con {
	max-width: 950px;
}

.con-min-width {
	min-width: 320px;
}

.top-menu a {
	text-decoration: none;
	color: gray;
	font-weight: bold;
	font-size: 1.2rem;
}

html, body {
	overflow-x: hidden;
}

.table-common>table {
	width: 100%;
	border-collapse: collapse;
}

.table-common .btn-box {
	text-align:center;
}

.table-common>table th, .table-common>table td {
	border: 1px solid black;
	padding: 10px;
}

.article-list table {
    border:none;
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
}

.article-list > table th, .article-list > table td {
    border:none;
}

.article-list > table td {
    border-bottom:1px solid lightgray;
}

.article-list > table thead {
    border-bottom:2px solid lightgray;
    background-color:#F5F5F5;
}

.article-detail {
    border:2px solid lightgray;
}

.article-detail > table {
    border:none;

}

.article-detail > table th, .article-detail > table td {
    border:none;
}

.article-detail > table tr:not(:last-child) {
    border-bottom:1px solid lightgray;
}

.article-detail > table tr:not(.article-body), .article-detail > table tr:not(.article-body) > td{
    height:20px;
    font-size:0.8rem;
}

.article-detail > table tr.article-title > td {
    height:40px;
    font-weight:bold;
    font-size:1.2rem;
}

.article-detail > table td:last-child {
    padding-right:100px;
}

.article-detail > .article-writer {

    height:102px;
    background-color:lightgray;
    border-bottom:1px solid lightgray;
    text-align:center;
}
.green_box {
    position:absolute;
    left : 900px;
    top : 11px;
    width: 30px;
    height: 30px;
    background-color: rgba(169,209,142);
    border-radius: 50%;
}
.yellow_box {
    position: absolute;
    left: 900px;
    top: 11px;
    width: 30px;
    height: 30px;
    background-color: rgba(255,217,102);
    border-radius: 50%;
}
.red_box {
    position: absolute;
    left: 900px;
    top: 11px;
    width: 30px;
    height: 30px;
    background-color: darkred;
    border-radius: 50%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 180px;
  padding-bottom: 180px;
}


